{% extends 'base.html' %}

    <!--We will receive >tickets< object-->

{% block title %}CMS Home{% endblock %}

{% load static %}

{% block javascript %}
    <script>

        $(document).ready(function(){
            $("#id_universal_code").focusout(function(){
                var universal_code = $("#id_universal_code").val();
                $.ajax({
                    url: '/ajax/validate_uvc/',
                    data: {
                      'uvc': universal_code
                    },
                    dataType: 'json',
                    success: function (data) {
                      if (data.present == false) {
                        $("#id_medicine_name").prop('disabled', false);
                        $("#id_medicine_category").prop('disabled', false);
                        $("#id_manufacturer").prop('disabled', false);
                        $("#update_stock").prop('disabled', true);
                        $("#add_stock").prop('disabled', false);
                      } else{
                        $("#id_medicine_category").val(data.category);
                        $("#id_medicine_name").val(data.name);
                        $("#id_medicine_name").prop('disabled', true);
                        $("#id_medicine_category").prop('disabled', true);
                        $("#id_manufacturer").prop('disabled', true);
                        $("#update_stock").prop('disabled', false);
                        $("#add_stock").prop('disabled', true);
                      }
                    }
                  });

            });
        })

    </script>
{% endblock %}

{% block navigator %}
<li><a href="/">Home</a></li>
<li><a href="/ims">IMS</a></li>
<li><a href="/ims/add-stock">Add another stock</a></li>
{% endblock %}

{% block main %}

<!--<form method="POST">{% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit" class="save btn btn-default" id="add_stock">Add New Stock</button> &nbsp; &nbsp;-->
<!--    <button type="submit" class="save btn btn-default" id="update_stock">Update Stock</button>-->
<!--</form>-->
<div class="container-fluid">
    <center><h1>Add/Update Stock</h1></center>
    <form method="POST" class="text-center" >{% csrf_token %}
        <table class="table table-responsive">
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><button type="submit" class="save btn btn-info" id="add_stock">Add New Stock</button></td>
                <td><button type="submit" class="save btn btn-info" id="update_stock">Update Stock</button></td>
            </tr>
        </table>

    </form>
</div>

{% endblock %}