{% extends 'base.html' %}

    <!--We will receive >tickets< object-->

{% block title %}Home{% endblock %}

{% load static %}


{% block main %}

<!--	<form><br><br><br><br>-->
<br><br><br><br>
		<center><h1>CMS</h1></center> <br><br><br><br>
		<div>
			<center>
				<a class="btn btn-info" href="pms">Patient Management System</a>
                <a class="btn btn-info" href="billing">Billing</a>
				<a class="btn btn-info" href="ims">Inventory Management System</a>

			</center>

		</div>
<!--	</form>-->
{% endblock %}