{% extends 'base.html' %}

    <!--We will receive >tickets< object-->

{% block title %}CMS Home{% endblock %}

{% load static %}
{% block navigator %}
<li><a href="/pms/search">Search</a></li>
<li><a href="/">Home</a></li>
<li><a href="/pms">PMS</a></li>
{% endblock %}}


{% block main %}

<div class="table-responsive">
    <center><h2>General Info</h2></center>
     <table class="table table-hover">
         <tr>
             <td>Patient ID</td>
             <td>{{ patient.id }}</td>
             <td><a href="add_record/{{ patient.id }}"> Add Record </a></td>
         </tr>
         <tr>
             <td>Name:</td>
             <td>{{ patient.name }}</td>
             <td><a href="view_history/{{ patient.id }}">View History</a></td>
         </tr>
         <tr>
             <td>Age:</td>
             <td colspan="2">{{ patient.age }}</td>
         </tr>
         <tr>
             <td>Phone:</td>
             <td colspan="2">{{ patient.phone }}</td>
         </tr>
         <tr>
             <td>Address:</td>
             <td colspan="2"><pre>{{ patient.address }}</pre></td>
         </tr>
     </table>
    <br>
    <center><h2>Ashtasthana Pareeksha</h2></center>
    <table class="table table-hover">
        <tr>
            <td>Nadi</td>
            <td>{{ patient.nadi }}</td>
        </tr>
        <tr>
            <td>Jihwa</td>
            <td>{{ patient.jihwa }}</td>
        </tr>
        <tr>
            <td>Mutra</td>
            <td>{{ patient.mutra }}</td>
        </tr>
        <tr>
            <td>Drik</td>
            <td>{{ patient.drik }}</td>
        </tr>
        <tr>
            <td>Malam</td>
            <td>{{ patient.malam }}</td>
        </tr>
        <tr>
            <td>Sabdam</td>
            <td>{{ patient.sabdam }}</td>
        </tr>
        <tr>
            <td>Akriti</td>
            <td>{{ patient.akriti }}</td>
        </tr>
        <tr>
            <td>Sparsha</td>
            <td>{{ patient.sparsha }}</td>
        </tr>
    </table>
    <br>
    <center><h2>Dasavidha Pareeksha</h2></center>
    <table class="table table-hover">
        <tr>
            <td>Dushyam</td>
            <td>{{ patient.dushyam }}</td>
        </tr>
        <tr>
            <td>Prakriti</td>
            <td>{{ patient.prakriti }}</td>
        </tr>
        <tr>
            <td>Desha</td>
            <td>{{ patient.desha }}</td>
        </tr>
        <tr>
            <td>Vaya</td>
            <td>{{ patient.vaya }}</td>
        </tr>
        <tr>
            <td>Bala</td>
            <td>{{ patient.bala }}</td>
        </tr>
        <tr>
            <td>Satwa</td>
            <td>{{ patient.satwa }}</td>
        </tr>
        <tr>
            <td>Kala</td>
            <td>{{ patient.kala }}</td>
        </tr>
        <tr>
            <td>Sathmya</td>
            <td>{{ patient.sathmya }}</td>
        </tr>
        <tr>
            <td>Anala</td>
            <td>{{ patient.anala }}</td>
        </tr>
        <tr>
            <td>Ahara</td>
            <td>{{ patient.ahara }}</td>
        </tr>
    </table>
    <center><h1>Examination</h1></center>
    <table class="table table-hover">
        <tr>
            <td>Height</td>
            <td>{{ patient.height }}</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>{{ patient.weight }}</td>
        </tr>
        <tr>
            <td>Pulse</td>
            <td>{{ patient.pulse }}</td>
        </tr>
        <tr>
            <td>Blood Pressure</td>
            <td>{{ patient.blood_pressure }}</td>
        </tr>
        <tr>
            <td>Heart Rate</td>
            <td>{{ patient.heart_rate }}</td>
        </tr>
        <tr>
            <td>Other Examinations</td>
            <td><pre>{{ patient.other_examination }}</pre></td>
        </tr>
    </table>
</div>
{% endblock %}